{% extends "base.html" %}
{% load static %}

{% block title %}Get Started{% endblock title %}

    {% block heading %}
    <a style="color: #252580;">
                    ...................................
    </a>
      <a class="text-gray-2000 hover:text-gray-2000"
                    style="font-size: xx-large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;color: white;">Hear
                    from people like you, who are with you and for you.</a>
    {% endblock heading %}
                
    {% block content %}
    <hr>
    <div class="text-gray-600 body-font">
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">

            <a>
                <img src="{% static 'images/m1.gif' %}" alt="Smiley face" width="110" height="110">
            </a>
            <a style="color: white;">
                ....................
            </a>
            <a>
                <img src="{% static 'images/m2.gif' %}" alt="Smiley face" width="100" height="100">
            </a>
            <a style="color: white;">
                ....................
            </a>
            <a>
                <img src="{% static 'images/m5.gif' %}" alt="Smiley face" width="90" height="90">
            </a>
        </nav>
    </div>


    <hr>

    <section class="text-gray-600 body-font overflow-hidden" style="background-color:#BDBDF5;">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-12">
                <div class="p-12 md:w-1/2 flex flex-col items-start">
                    <span
                        class="inline-block py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-xs font-medium tracking-widest">CATEGORY</span>
                    <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">Roof party normcore
                        before they sold out, cornhole vape</h2>
                    <p class="leading-relaxed mb-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga
                        distinctio asperiores soluta voluptatem exercitationem in hic earum atque, est, tenetur,
                        voluptas doloribus corporis autem cum debitis tempora quae eaque. Deserunt!</p>
                    <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
                        <a class="text-indigo-500 inline-flex items-center">Read More
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                        <span
                            class="text-gray-400 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200"
                            style="color: black;">

                            <button class="fa fa-envelope" style="font-size:20px" href="/">

                            </button>
                            <a style="color:#BDBDF5;">...</a>

                            <button class="fa fa-github" style="font-size:24px" href="/"></button>
                            <a style="color:#BDBDF5;">...</a>
                            <button class="fa fa-facebook-square" style="font-size:24px" href="/"></button>
                            <a style="color:#BDBDF5;">...</a>


                            </nav>
                        </span>
                        <span class="text-gray-400 inline-flex items-center leading-none text-sm" style="color: black;">
                            <a>
                                <i class="emoji" style="font-size:22px; font-style: normal;">&#128512;</i>
                            </a>
                        </span>
                    </div>
                    <a class="inline-flex items-center">
                        <img alt="blog" src="https://dummyimage.com/104x104"
                            class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                        <span class="flex-grow flex flex-col pl-4">
                            <span class="title-font font-medium text-gray-900">Walter White</span>
                            <span class="text-gray-400 text-xs tracking-widest mt-0.5" style="color: black;">
                                DEVELOPER</span>
                        </span>
                    </a>
                </div>
                <div class="p-12 md:w-1/2 flex flex-col items-start">
                    <span
                        class="inline-block py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-xs font-medium tracking-widest">CATEGORY</span>
                    <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">Roof party normcore
                        before they sold out, cornhole vape</h2>
                    <p class="leading-relaxed mb-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga
                        distinctio asperiores soluta voluptatem exercitationem in hic earum atque, est, tenetur,
                        voluptas doloribus corporis autem cum debitis tempora quae eaque. Deserunt!</p>
                    <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
                        <a class="text-indigo-500 inline-flex items-center">Read More
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                        <span
                            class="text-gray-400 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200"
                            style="color: black;">

                            <button class="fa fa-envelope" style="font-size:20px" href="/">

                            </button>
                            <a style="color:#BDBDF5;">...</a>

                            <button class="fa fa-github" style="font-size:24px" href="/"></button>
                            <a style="color:#BDBDF5;">...</a>
                            <button class="fa fa-facebook-square" style="font-size:24px" href="/"></button>
                            <a style="color:#BDBDF5;">...</a>


                            </nav>
                        </span>
                        <span class="text-gray-400 inline-flex items-center leading-none text-sm" style="color: black;">
                            <a>
                                <i class="emoji" style="font-size:22px; font-style: normal;">&#128512;</i>
                            </a>
                        </span>
                    </div>
                    <a class="inline-flex items-center">
                        <img alt="blog" src="https://dummyimage.com/104x104"
                            class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                        <span class="flex-grow flex flex-col pl-4">
                            <span class="title-font font-medium text-gray-900">Walter White</span>
                            <span class="text-gray-400 text-xs tracking-widest mt-0.5" style="color: black;">
                                DEVELOPER</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-gray-600 body-font" style="background-color: white;">
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">


                <a>
                    <img src="{% static 'images/dev1.gif' %}" alt="Smiley face" width="200" height="200">
                </a>

            </nav>
        </div>
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-12">
                <div class="p-12 md:w-1/2 flex flex-col items-start">
                    <span
                        class="inline-block py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-xs font-medium tracking-widest">CATEGORY</span>
                    <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">Roof party normcore
                        before they sold out, cornhole vape</h2>
                    <p class="leading-relaxed mb-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga
                        distinctio asperiores soluta voluptatem exercitationem in hic earum atque, est, tenetur,
                        voluptas doloribus corporis autem cum debitis tempora quae eaque. Deserunt!</p>
                    <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
                        <a class="text-indigo-500 inline-flex items-center">Read More
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                        <span
                            class="text-gray-400 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200"
                            style="color: black;">

                            <button class="fa fa-envelope" style="font-size:20px" href="/">

                            </button>
                            <a style="color:#BDBDF5;">...</a>

                            <button class="fa fa-github" style="font-size:24px" href="/"></button>
                            <a style="color:#BDBDF5;">...</a>
                            <button class="fa fa-facebook-square" style="font-size:24px" href="/"></button>
                            <a style="color:#BDBDF5;">...</a>


                            </nav>
                        </span>
                        <span class="text-gray-400 inline-flex items-center leading-none text-sm" style="color: black;">
                            <a>
                                <i class="emoji" style="font-size:22px; font-style: normal;">&#128512;</i>
                            </a>
                        </span>
                    </div>
                    <a class="inline-flex items-center">
                        <img alt="blog" src="https://dummyimage.com/104x104"
                            class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                        <span class="flex-grow flex flex-col pl-4">
                            <span class="title-font font-medium text-gray-900">Walter White</span>
                            <span class="text-gray-400 text-xs tracking-widest mt-0.5" style="color: black;">
                                DEVELOPER</span>
                        </span>
                    </a>
                </div>
                <div class="p-12 md:w-1/2 flex flex-col items-start">
                    <span
                        class="inline-block py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-xs font-medium tracking-widest">CATEGORY</span>
                    <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">Roof party normcore
                        before they sold out, cornhole vape</h2>
                    <p class="leading-relaxed mb-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga
                        distinctio asperiores soluta voluptatem exercitationem in hic earum atque, est, tenetur,
                        voluptas doloribus corporis autem cum debitis tempora quae eaque. Deserunt!</p>
                    <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
                        <a class="text-indigo-500 inline-flex items-center">Read More
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                        <span
                            class="text-gray-400 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200"
                            style="color: black;">

                            <button class="fa fa-envelope" style="font-size:20px" href="/">

                            </button>
                            <a style="color:#BDBDF5;">...</a>

                            <button class="fa fa-github" style="font-size:24px" href="/"></button>
                            <a style="color:#BDBDF5;">...</a>
                            <button class="fa fa-facebook-square" style="font-size:24px" href="/"></button>
                            <a style="color:#BDBDF5;">...</a>


                            </nav>
                        </span>
                        <span class="text-gray-400 inline-flex items-center leading-none text-sm" style="color: black;">
                            <a>
                                <i class="emoji" style="font-size:22px; font-style: normal;">&#128512;</i>
                            </a>
                        </span>
                    </div>
                    <a class="inline-flex items-center">
                        <img alt="blog" src="https://dummyimage.com/104x104"
                            class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                        <span class="flex-grow flex flex-col pl-4">
                            <span class="title-font font-medium text-gray-900">Walter White</span>
                            <span class="text-gray-400 text-xs tracking-widest mt-0.5" style="color: black;">
                                DEVELOPER</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-gray-600 body-font" style="background-color: white;">
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">


                <a>
                    <img src="{% static 'images/dev2.gif' %}" alt="Smiley face" width="300" height="200">
                </a>

            </nav>
        </div>
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-12">
                <div class="p-12 md:w-1/2 flex flex-col items-start">
                    <span
                        class="inline-block py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-xs font-medium tracking-widest">CATEGORY</span>
                    <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">Roof party normcore
                        before they sold out, cornhole vape</h2>
                    <p class="leading-relaxed mb-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga
                        distinctio asperiores soluta voluptatem exercitationem in hic earum atque, est, tenetur,
                        voluptas doloribus corporis autem cum debitis tempora quae eaque. Deserunt!</p>
                    <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
                        <a class="text-indigo-500 inline-flex items-center">Read More
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                        <span
                            class="text-gray-400 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200"
                            style="color: black;">

                            <button class="fa fa-envelope" style="font-size:20px" href="/">

                            </button>
                            <a style="color:#BDBDF5;">...</a>

                            <button class="fa fa-github" style="font-size:24px" href="/"></button>
                            <a style="color:#BDBDF5;">...</a>
                            <button class="fa fa-facebook-square" style="font-size:24px" href="/"></button>
                            <a style="color:#BDBDF5;">...</a>


                            </nav>
                        </span>
                        <span class="text-gray-400 inline-flex items-center leading-none text-sm" style="color: black;">
                            <a>
                                <i class="emoji" style="font-size:22px; font-style: normal;">&#128512;</i>
                            </a>
                        </span>
                    </div>
                    <a class="inline-flex items-center">
                        <img alt="blog" src="https://dummyimage.com/104x104"
                            class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                        <span class="flex-grow flex flex-col pl-4">
                            <span class="title-font font-medium text-gray-900">Walter White</span>
                            <span class="text-gray-400 text-xs tracking-widest mt-0.5" style="color: black;">
                                DEVELOPER</span>
                        </span>
                    </a>
                </div>
                <div class="p-12 md:w-1/2 flex flex-col items-start">
                    <span
                        class="inline-block py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-xs font-medium tracking-widest">CATEGORY</span>
                    <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">Roof party normcore
                        before they sold out, cornhole vape</h2>
                    <p class="leading-relaxed mb-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga
                        distinctio asperiores soluta voluptatem exercitationem in hic earum atque, est, tenetur,
                        voluptas doloribus corporis autem cum debitis tempora quae eaque. Deserunt!</p>
                    <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
                        <a class="text-indigo-500 inline-flex items-center">Read More
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                        <span
                            class="text-gray-400 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200"
                            style="color: black;">

                            <button class="fa fa-envelope" style="font-size:20px" href="/">

                            </button>
                            <a style="color:#BDBDF5;">...</a>

                            <button class="fa fa-github" style="font-size:24px" href="/"></button>
                            <a style="color:#BDBDF5;">...</a>
                            <button class="fa fa-facebook-square" style="font-size:24px" href="/"></button>
                            <a style="color:#BDBDF5;">...</a>


                            </nav>
                        </span>
                        <span class="text-gray-400 inline-flex items-center leading-none text-sm" style="color: black;">
                            <a>
                                <i class="emoji" style="font-size:22px; font-style: normal;">&#128512;</i>
                            </a>
                        </span>
                    </div>
                    <a class="inline-flex items-center">
                        <img alt="blog" src="https://dummyimage.com/104x104"
                            class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                        <span class="flex-grow flex flex-col pl-4">
                            <span class="title-font font-medium text-gray-900">Walter White</span>
                            <span class="text-gray-400 text-xs tracking-widest mt-0.5" style="color: black;">
                                DEVELOPER</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>
      
    {% endblock content %}