{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>{% block title %}{% endblock title %} | Your Code</title>
</head>

<body>
    <header class="text-gray-600 body-font" style="background-color:#252580;">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <a href="{% url 'index' %}" class="text-gray-2000 hover:text-gray-2000"
                    style="font-size: xx-large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;color:white">Your
                    Code</a>
                <a style="color: #252580;">
                    ...
                </a>
                <a>
                    <i class="fa fa-desktop" style="font-size:32px; color:white;"></i>
                </a>
                {% block heading %}{% endblock heading %}
            </a>
            <nav aria-label="" class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <style>
                    .default {
                        border-color: #e7e7;
                        color: black;
                    }

                    .default:hover {
                        background: #e7e7;
                    }
                </style>
                {% if request.get_full_path == '/' %}
                <a href="{% url 'login' %}" class="mr-5 hover:text-gray-900"
                    style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size:x-large; ">
                    <button class="btn default" style="color: white;">Log In</button>
                </a>
                <a href="{% url 'signup' %}" class="mr-5 hover:text-gray-900"
                    style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size:x-large;">
                    <button class="btn default" style="color: white;">Sign Up</button>
                </a>
                {% elif 'accounts/login' in request.get_full_path %}
                <a href="{% url 'index' %}" class="mr-5 hover:text-gray-900"
                    style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size:x-large;">
                    <button class="btn default" style="color: white;">Home</button>
                </a>
                <a href="{% url 'signup' %}" class="mr-5 hover:text-gray-900"
                    style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size:x-large;">
                    <button class="btn default" style="color: white;">Sign Up</button>
                </a>
                {% elif 'accounts/signup' in request.get_full_path %}
                <a href="{% url 'index' %}" class="mr-5 hover:text-gray-900"
                    style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size:x-large;">
                    <button class="btn default" style="color: white;">Home</button>
                </a>
                <a href="{% url 'login' %}" class="mr-5 hover:text-gray-900"
                    style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size:x-large;">
                    <button class="btn default" style="color: white;">Log In</button>
                </a>
                {% else %}
                <a onclick="goBack()" class="mr-5 hover:text-gray-900"
                    style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size:x-large;">
                    <button class="btn default" style="color: white;">BACK</button>
                </a>
                {% endif %}
            </nav>
        </div>
    </header>

    {% block content %}
      
    {% endblock content %}

    <footer class="text-gray-600 body-font" style="background-color:#252580;">
        <div
            class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
            <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">

                <i class="fa fa-desktop" style="font-size:22px;color: white;"></i>
                <a class="text-gray-600 hover:text-gray-800" style="color: white;">Your Code</a>


                <p class="mt-2 text-sm text-gray-500" style="color: white;">Do everything you think you cant. Start today!</p>
                <p class="mt-2 text-sm text-gray-500" style="color: white;">HAPPY CODING :)</p>

            </div>
            <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
                <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                    <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3" style="color: white;">CONTACT</h2>
                    <nav aria-label="" class="list-none mb-10">
                        <li>
                            <i class="fa fa-envelope" style="font-size:20px;color: white;"></i>
                            <a href="mailto: jayasri.dey9@gmail.com" style="color: white;">Send Email</a>
                        </li>
                        <li>
                            <i class="fa fa-github" style="font-size:24px;color: white;"></i>
                            <a class="text-gray-600 hover:text-gray-800" style="color: white;"
                                href="https://github.com/jayasri2000">Github</a>
                        </li>

                    </nav>
                </div>
                <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                    <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3" style="color: white;">SOCIAL</h2>
                    <nav aria-label="" class="list-none mb-10">
                        <li>
                            <i class="fa fa-facebook-square" style="font-size:24px;color: white;"></i>
                            <a class="text-gray-600 hover:text-gray-800"
                                href="https://www.facebook.com/Jayasri.dey6/" style="color: white;">FACEBOOK</a>
                        </li>
                        <li>
                            <i class="fa fa-instagram" style="font-size:24px;color:white"></i>
                            <a class="text-gray-600 hover:text-gray-800"
                                href="https://www.instagram.com/_._a_whim_.away._/" style="color: white;">INSTAGRAM</a>
                        </li>
                        <li>
                            <i class="fa fa-linkedin-square" style="font-size:24px;color: white;"></i>
                            <a class="text-gray-600 hover:text-gray-800"
                                href="https://www.linkedin.com/in/jayasri-dey-55625918b/" style="color: white;">LINKED IN</a>
                        </li>

                    </nav>
                </div>

            </div>
        </div>
        <div class="bg-gray-100">
            <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                <p class="text-gray-500 text-sm text-center sm:text-left">© 2021 Your Code — by a fellow IT Undergrad
                    </a>
                </p>

            </div>
        </div>

    </footer>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>